// console $ pug -w ./ -o ./ -P
- const mochi_num = 3;

doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title もちメニュー
        meta(name='description', content=description)
        meta(name='keywords', content=keywords)

        link(rel="stylesheet" href="./layout.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")

    body
        i.menu-icon.far.fa-bell
        #mochi_menu

            div(v-for="item in menu_items")
                | {{ item }}

            #blob-loader
                .menu-rect(
                    v-bind:class="{'anime_swell': click_flash}")
                .menu-block
                    for i in [...Array(mochi_num).keys()].map(i => ++i)
                        .click-box(
                            class=`position-${i}` 
                            v-on:click=`menu_click(${i})` )
                    .mochi(
                        v-bind:class="[position_class, {'anime_drop': click_flash}]")

            svg(xmins="http://www.w3.org/2000/svg", version="1.1")
                defs  
                    filter#blob
                        fegaussianblur(in="SourceGraphic" result="blur" stdDeviation="8")
                        fecolormatrix(in="blur" result="blob" mode="matrix" 
                            values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 40 -10")
                

        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script.
            const mochi_menu = new Vue({
                el: '#mochi_menu',
                data: {
                    mochi_num : 3,
                    menu_items : {
                        item1: {
                            fa_icon: "fa-square"
                        },
                        item2: {
                            fa_icon: "fa-bell"
                        },
                        item3: {    
                            fa_icon: "fa-bookmark"
                        }
                    },
                    active_menu: 1,
                    click_flash: false,
                    on_animation: false,
                    anime_reqired_time: 1000
                },
                created: function (n) {
                    console.log("created.");
                },
                methods: {
                    menu_click: function (n) {
                        if(this.on_animation) {
                            return;
                        }
                        this.start_click_flash();
                        this.start_anime_timer();
                        this.active_menu = n;
                        console.log("active_menu",this.active_menu);
                    },
                    start_click_flash: function () {
                        this.click_flash = false;
                        setTimeout(
                            ()=>{ this.click_flash = true;console.log("flash", this.click_flash); },
                            1
                        );
                        
                    },
                    start_anime_timer: function () {
                        this.on_animation = true;
                        setTimeout(
                            ()=>{ this.on_animation = false; },
                            this.anime_reqired_time
                        );
                        console.log("timer");
                    }
                },
                computed: {
                    position_class: function() { //2020.11.15やっとできた。この7行に8時間ぐらいかかった。
                        let array = [];
                        for (let i=1; i<=this.mochi_num; i++ ){
                            if(this.active_menu == i){
                                array.push(`position-${i}`);
                            }
                        }
                        return array;
                    }
                },

            })
