// console $ pug -w ./ -o ./ -P

doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title もちメニュー　-Mochi Menu-
        meta(name='description', content=description)
        meta(name='keywords', content=keywords)

        link(rel="stylesheet" href="./layout.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")

    body
        #mochi_menu
            .menu-relative
                #menu-icon-layer.menu-block
                    div(v-for="(item, index) in menu_items" 
                        style="position:relative;"
                        v-bind:class="`position-${index+1}`")
                        .click-box( v-on:click=`menu_click(index+1)`
                                    v-bind:class="{'click-box-drop': active_menu==index+1}")
                        i.menu-icon(v-bind:class="[item.classname, {'menu-icon-drop': active_menu==index+1}]")
                #blur-layer.menu-size-wrapper
                    .menu-rect(
                        v-bind:class="rect_swell_class")
                    .menu-block
                        .mochi(
                            v-bind:class="[position_class, mochi_vertical_class]")

            #content-wrapper
                .content-icon(v-for="(item, index) in menu_items")
                    i(v-if="active_menu==index+1" v-bind:class="item.classname")

            svg(xmins="http://www.w3.org/2000/svg", version="1.1")
                defs  
                    filter#blur
                        fegaussianblur(in="SourceGraphic" result="blur" stdDeviation="8")
                        fecolormatrix(in="blur" result="res" mode="matrix" 
                            values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 40 -10")
                

        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="./mochi_menu.js")

