// console $ pug -w ./ -o ./ -P

doctype html
html(lang='ja')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title もちメニュー　-Mochi Menu-
        meta(name='description', content=description)
        meta(name='keywords', content=keywords)

        link(rel="stylesheet" href="./layout.css")
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css")

    body
        #mochi_menu
            .menu-relative
                #menu-icon-layer.menu-block
                    div(v-for="(item, index) in menu_items" 
                        style="position:relative;"
                        v-bind:class="`position-${index+1}`")
                        .click-box( v-on:click=`menu_click(index+1)`
                                    v-bind:class="{'click-box-drop': active_menu==index+1}")
                        i.menu-icon(
                            v-bind:class="[item.classname, {'menu-icon-drop': active_menu==index+1}]")
                #blur-layer.menu-size-wrapper
                    .menu-rect(
                        v-bind:class="rect_swell_class")
                    .menu-block
                        .mochi(
                            v-bind:class="[position_class, mochi_vertical_class]")

            #content-wrapper
                .content-icon(v-for="(item, index) in menu_items")
                    i(v-if="active_menu==index+1" v-bind:class="item.classname")

            svg(xmins="http://www.w3.org/2000/svg", version="1.1")
                defs  
                    filter#blur
                        fegaussianblur(in="SourceGraphic" result="blur" stdDeviation="8")
                        fecolormatrix(in="blur" result="res" mode="matrix" 
                            values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 40 -10")
                

        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script.
            const mochi_menu = new Vue({
                el: '#mochi_menu',
                data: {
                    menu_items : [
                        {
                            classname: {"fas fa-home": true}
                        },
                        {
                            classname: {"far fa-bell": true}
                        },
                        {    
                            classname: {"far fa-bookmark": true}
                        }
                    ],
                    active_menu: 0,
                    pre_active_menu: 2,
                    click_flash: false,
                    on_animation: false,
                    anime_reqired_time: 1000
                },
                methods: {
                    menu_click(n) {
                        if(this.on_animation) {
                            return;
                        }
                        this.start_click_flash();
                        this.start_anime_timer();
                        this.pre_active_menu = this.active_menu;
                        if(n != this.active_menu){
                            
                            this.active_menu = n;
                        }else {
                            this.active_menu = 0;
                        }
                        console.log("[active_menu] = ",this.active_menu, this.pre_active_menu);
                    },
                    start_click_flash() {
                        this.click_flash = false;
                        setTimeout(
                            ()=>{ this.click_flash = true;},
                            1
                        );
                        
                    },
                    start_anime_timer() {
                        this.on_animation = true;
                        setTimeout(
                            ()=>{ 
                                this.on_animation = false;
                                console.log("stop anime timer");
                            },
                            this.anime_reqired_time
                        );
                        console.log("start anime timer");
                    }
                },
                computed: {
                    position_class() {
                        let num = this.active_menu;
                        if(this.active_menu==0) {
                            num = this.pre_active_menu;
                            console.log("position cancel:", num);
                        }
                        
                        return `position-${num}`;
                    },
                    mochi_vertical_class() {
                        console.log("mochiV");
                        let str = ''
                        if(this.active_menu==0 && this.pre_active_menu!=0) str='drop_X_to_0';
                        else if(this.pre_active_menu==0) str='drop_0_to_X';
                        else if(this.click_flash) str='drop_normal';
                        return str;
                    },
                    rect_swell_class() {
                        let str = '';
                        if(this.active_menu==0 && this.pre_active_menu!=0) str='swell_X_to_0';
                        else if(this.pre_active_menu==0) str='swell_0_to_X';
                        else if(this.click_flash) str='swell_normal'
                        return str;
                    }
                },

            })
